body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
}

/* Styles */
#background-screen{
    background: #A1ADFF;
}

.game-screen{
    width: 100vw;
    height: 95vh;
    border-bottom: 5vh solid rgb(27, 166, 3);
    background-image: linear-gradient(#2297FF, #91F0FB);
    position: relative;
    overflow: hidden;
}

.game-pipe{
    position: absolute;
    width: 80px;
    bottom: 0;
    right: 0px;
    animation: pipe-animation 1.5s infinite linear;
}

.game-mario-running{
    position: absolute;
    width: 120px;
    bottom: 0;
    left: 50px;
}

.jump {
    animation: mario-jump 600ms ease-out;
}

.clouds img {
    position: absolute;
    width: 600px;
    right: -600px;
    margin-top: 10px;
    animation: clouds 20s infinite linear;
}

.montains img {
    position: absolute;
    width: 300px;
    bottom: 0;
    right: 70px;
    opacity: 0.8;
    animation: montains 30s infinite linear;
}

.recordCoins {
    position: absolute;
    right: 70px;
    top: 30px;
    text-align: center;
}

.recordCoins img {
    width: 30px;
}

.recordCoins p {
    font-size: 15px;
    font-family: 'Press Start 2P';
    font-weight: bold;
    margin-top: 5px;
    color: #edb90d;
}

.quantitysCoins {
    position: absolute;
    right: 180px;
    top: 30px;
    text-align: center;
}

.quantitysCoins img {
    width: 30px;
}

.quantitysCoins p {
    font-size: 15px;
    font-family: 'Press Start 2P';
    font-weight: bold;
    margin-top: 5px;
    color: #edb90d;
}

/* Screens */
.press-start-game {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.press-reaload-game-over {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

/* Pauses */
.pause-initial-mario {
    animation: none;
    left: 15%;
}

.pause-initial-pipe {
    animation: none;
    right: 15%;
}

.pause-initial-clouds img {
    animation: none;
    right: 50%;
}

.pause-initial-montains img {
    animation: none;
    right: 30%;
}

/* Animations */
@keyframes pipe-animation {
    from {
        right: -80px;
    }
    
    to {
        right: 100%;
    }
}

@keyframes mario-jump {
    0% {
        bottom: 0px;
    }

    50% {
        bottom: 180px;
    }

    100% {
        bottom: 0px;
    }
}

@keyframes clouds {
    from {
        right: -600px;
        top: 10px;
    }
    
    to {
        right: 100%;
        top: 70px;
    }
}

@keyframes montains {
    from {
        right: -300px;
        width: 250px;
    }
    
    to {
        right: 100%;
        width: 330px;
    }
}

/* Socials */

.socials-background {
    position: absolute;
    width: 60px;
    height: 50vh;
    background-image: linear-gradient(black, rgb(20, 20, 20));
    display: flex;
    bottom: 25vh;
    border-radius: 30px 10px;
    left: -35px;
    transition: 1s;
}

.socials-border {
    position: absolute;
    width: 2px;
    height: 30vh;
    background-image: linear-gradient(black, rgb(20, 20, 20));
    right: -10px;
    bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials-border p {
    margin-top: 10px;
    margin-left: 40px;
    font-size: 13px;
    font-family: 'Press Start 2P';
    writing-mode: vertical-lr;
    letter-spacing: 2px;
}

.social-medias {
    width: 10vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.socials {
    display: none;
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.github a {
    color: white;
}

.instagram a {
    color: #DC2F68;
}

.linkedin a {
    color: #2867B2;
}